{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "MODERNGOV_ENDPOINT": "https://democracy.gloucester.gov.uk/mgWebService.asmx",
    "STORAGE_CONNECTION": ""
  }
}
